/* TeamUp element styles */
html, body {
    overflow: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #4f4f4f;
    background-size: cover;
    background-position: center center;
}
#time {
    font-size: 10vw;
}
#date {
    font-size: 2vw;
}
#menu-buttons {
    position: absolute;
    top: 3vh;
    right: 1vw;
}
#notifications {
    width: 2vw;
    margin-right: 0.5vw;
}
#notifications:hover {
    -webkit-animation:swing 2s linear infinite;
    -moz-animation:swing 2s linear infinite;
    animation:swing 2s linear infinite;
}
#settings {
    width: 2vw;
}
#settings:hover {
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
#calendar {
    width: 50vw;
    height: 60vh;
}
#todo-list-div {
    position: absolute;
    width: 20vw;
    height: 95vh;
    top: 1vh;
    left: 1vw;
}
#todo-list-div h1 {
    text-align: left;
    margin: 0;
    margin-left: 1vw;
}
#todo-list-div h1 span {
    border-bottom: solid 0.5px white;
    font-size: 2vw;
}
#todo-scrollable-list {
    width: 20vw;
    height: 88vh;
    overflow: scroll;
    direction: rtl;

}
#todo-scrollable-list ul {
    margin: 0;
    padding: 0;
    padding-left: 1vw;
}
#todo-scrollable-list li {
    cursor: pointer;
    list-style-type: none;
    padding: 0.5vw 3vw 0.5vw 0.5vw;
    text-align: left;
    border: solid 0.5px white;
    margin-top: 0.5vw;
}
#todo-scrollable-list li:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
/* Calendar styles */
.fc .fc-toolbar-title {
    font-size: 1.3em;
}
.fc .fc-button-primary:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: white;
  }
.fc .fc-button:disabled {
    background-color: transparent;
    border-color: white;
    opacity: 0.65;
}
.fc .fc-button {
    font-size: 0.75em;
    background-color: transparent;
    border-color: white;
}   
.fc table {
    font-size: 0.9em;
}
.fc .fc-col-header-cell-cushion {
    word-spacing:50px;
}
.fc .fc-timegrid-slot-minor {
    border-top-style: solid;
    border-top-color:  rgba(255, 255, 255, 0.25);
}
:root {
    --fc-today-bg-color: rgba(255, 255, 255, 0.15);
    /* --fc-now-indicator-color: rgb(255, 255, 255);   Style for now indicator if chosen to be used  */
}
/* Animations */
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { transform:rotate(360deg); } 
}
@-moz-keyframes swing {
    25% { -moz-transform: rotate(10deg)}
    50% { -moz-transform: rotate(0deg)}
    75% { -mox-transform: rotate(-10deg)}
    100% { -mox-transform: rotate(0deg)}
}
@-webkit-keyframes swing {
    25% { -webkit-transform: rotate(10deg)}
    50% { -webkit-transform: rotate(0deg)}
    75% { -webkit-transform: rotate(-10deg)}
    100% { -webkit-transform: rotate(0deg)}
}
@keyframes swing {
    25% { transform: rotate(10deg)}
    50% { transform: rotate(0deg)}
    75% { transform: rotate(-10deg)}
    100% { transform: rotate(0deg)}
}