/* TeamUp element styles */
html, body {
    overflow: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #4f4f4f;
    background-size: cover;
    background-position: center center;
}
#time {
    font-size: 10vw;
}
#date {
    font-size: 2vw;
}
#menu-buttons {
    position: absolute;
    top: 3vh;
    right: 1vw;
}
#notifications {
    width: 2vw;
    margin-right: 1vw;
}
#settings {
    width: 2vw;
}
#calendar {
    width: 50vw;
    height: 60vh;
}
#todo-list-div {
    position: absolute;
    width: 20vw;
    height: 90vh;
    top: 3vh;
    left: 1vw;
    border: solid white 0.5px;
}
#todo-list-div h1 {
    text-align: left;
    margin-left: 1vw;
    width: 6.25vw;
    margin-top: 0;
}
#todo-list-div h1 span {
    border-bottom: solid 0.5px white;
}
/* Calendar styles */
.fc .fc-toolbar-title {
    font-size: 1.3em;
}
.fc .fc-button:disabled {
    background-color: transparent;
    border-color: white;
    opacity: 0.65;
}
.fc .fc-button {
    font-size: 0.75em;
    background-color: transparent;
    border-color: white;
}   
.fc table {
    font-size: 0.9em;
}
.fc .fc-col-header-cell-cushion {
    word-spacing:50px;
}
.fc .fc-timegrid-slot-minor {
    border-top-style: solid;
    border-top-color:  rgba(255, 255, 255, 0.25);
}
:root {
    --fc-today-bg-color: rgba(255, 255, 255, 0.15);
    /* --fc-now-indicator-color: rgb(255, 255, 255);   Style for now indicator if chosen to be used  */
}